.grid {
    display: grid;
}

@for $index from 1 through $max-column {
    .grid.column-#{ $index } {
        grid-template-columns: repeat(auto-fill, minmax(100% / $index, 1fr));
    }
}

@for $index from 1 through $max-gap {
    .grid.gap-#{$index} {
        gap: #{$index}px;
    }

    .grid.gap-column-#{$index} {
        grid-column-gap: #{$index}px;
    }

    .grid.gap-row-#{$index} {
        grid-row-gap: #{$index}px;
    }
}

//  Media Query
@each $size in $sizes {
    @include for-size(#{$size}) {
        @for $index from 1 through $max-column {
            .grid.column-#{$size}-#{$index} {
                grid-template-columns: repeat(auto-fill, minmax(100% / $index, 1fr));
            }
        }
    }

    @include for-size(#{$size}) {
        @for $index from 1 through $max-gap {
            .grid.gap-#{$size}-#{$index} {
                gap: #{$index}px;
            }

            .grid.gap-column-#{$size}-#{$index} {
                grid-column-gap: #{$index}px;
            }

            .grid.gap-row-#{$size}-#{$index} {
                grid-row-gap: #{$index}px;
            }
        }
    }


}