.home {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px 24px;
}

.home__title {
    font: normal normal 600 40px/28px Source Sans Pro;
    letter-spacing: 0;
    color: hsla(0, 0%, 43.9%, .7686274509803922);
    margin-bottom: 24px;
}

.home__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home__content {
    &__title {
        background: #37b04c 0 0 no-repeat padding-box;
        border-radius: 2px;
        padding: 12px 16px;
        margin-bottom: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        >div:nth-child(1) {
            font: normal normal 600 20px/13px Source Sans Pro;
            letter-spacing: 0;
            color: #fff;
        }

        >div:nth-child(2) {
            span {
                text-decoration: underline;
                font: normal normal 300 14px/13px Source Sans Pro;
                letter-spacing: 0;
                color: #fff;
            }
        }
    }

    &__thumbnail {
        background: #fff 0 0 no-repeat padding-box;
        border: .5px solid #cdcdcd;
        border-radius: 2px;
        padding: 24px 29px;
        width: fit-content;
        margin-bottom: 16px;
    }
}